<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type = "text/javascript">
    $(document).ready(function (){
      $("button#delete").click(function(e) {
        const id = this.dataset.key
        console.log(id)
        $.ajax({
      url: 'deletenote',
      data: {'id': id},
      type: "GET",
      success: function(data){
            alert("deleted")
      },
      error: function(passParams){
           alert("error")
      }
});
  });
  $("button#edit").click(function(e) {
        const id = this.dataset.id
        const detail = this.dataset.detail
        const title = this.dataset.title
        console.log(id)
        $.ajax({
      url: 'editnote',
      data: {'id': id, 'title': title, 'detail': detail},
      type: "GET",
      success: function(data){
            console.log(data)
            jQuery("#change").html(data)
      },
      error: function(passParams){
           //alert("error")
      }
})
  });

 
    });
    
</script>
</head>
<body id="change">
  
 <!-- <ul id="target"></ul> -->
 <ul>
  {{#each notes as |note|}}
    <li>
        <h20 id="id">{{note.id}}</h20><a>. </a><strong id="title">{{note.title}}</strong>
        <br>
        <small>{{note.date}}</small>
        <br>
        <p>{{note.detail}}</p>
        <button id="delete" data-key={{note.id}}>Delete Note</button><button id="edit" data-id="{{note.id}}" data-detail="{{note.detail}}" data-title="{{note.title}}">Edit Note</button>
    </li>
  {{/each}}
</ul>

</body>
<style>
    ul li {
  background: #cce5ff;
  color: darkblue;
  margin: 5px;
  align-items: center;
}
form{
  text-align: center;
}
</style>
<!-- <script type="text/javascript">
  var array = ["S1", "S2"];
  target.innerHTML = '<li>' + array.join('</li><li>') + '</li>';
</script> -->

</html>